<h1>OBJETO PROCESS</h1>

<h5>Argumentos de entrada:</h5>
<p>_:{{this.info.args._}}</p>
<p>p:{{this.info.args.p}}</p>
<p>port:{{this.info.args.port}}</p>


<h5>Nombre de plataforma: {{this.info.sistema}}</h5>
<h5>Versión de node.js: {{this.info.nodeVersion}}</h5>
<h5>Memoria total reservada (rss): {{this.info.memory}}</h5>
<h5>Path de ejecución: {{this.info.path}}</h5>
<h5>Process Id: {{this.info.processId}}</h5>
<h5>Carpeta del proyecto: {{this.info.file}}</h5>
<h5>NUMERO DE CPUS: {{this.info.numeroCpu}}</h5>